<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="pl.gymkhana_gp.judge" />

	<!-- WALIDACJA -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />

	<!-- XML -->
	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>pl.gymkhana_gp.judge.model.dto.GymkhanaTournamentDto</value>
				<value>pl.gymkhana_gp.judge.model.dto.PlayerDto</value>
			</list>
		</property>
		<property name="marshallerProperties">
			<map>
				<entry key="jaxb.formatted.output">
					<value type="boolean">true</value>
				</entry>
			</map>
		</property>
	</bean>

	<!-- i18n -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>text-resources</value>
			</list>
		</property>
	</bean>

	<!-- RS-232 -->
	<bean id="serialPort" class="com.fazecast.jSerialComm.SerialPort" scope="prototype">
	</bean>
</beans>